<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.otso.salmenpera.goodhabbits">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodHabbits.NoActionBar">
        <activity
            android:name=".WaterDateActivity"
            android:exported="false" />
        <activity
            android:name=".WaterListActivity"
            android:exported="false" />
        <activity
            android:name=".WaterActivity"
            android:exported="false" />
        <activity
            android:name=".MeditationActitivy"
            android:exported="false" />
        <activity
            android:name=".SleepActivity"
            android:exported="false" />

        <activity android:name=".DayActivity"
            android:exported="false"
            />
        <activity android:name=".night_activity"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>